## NAME: M.MOIZ RAZA
## SECTION: BSAI-3A
## ROLL NO: SU92-BSAIM-F24-061
## SUBJECT: ARTIFICIAL INTELIGENCE (LAB)
## TASK: 11

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("BMW sales data (2010-2024) (1).csv")

In [ ]:
df

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [ ]:
df.shape

(50000, 11)

In [ ]:
df.head(20)

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
5,5 Series,2017,Middle East,Silver,Diesel,Manual,1.9,171362,42926,1232,Low
6,i8,2022,Europe,White,Diesel,Manual,1.8,196741,55064,7949,High
7,M5,2014,Asia,Black,Diesel,Automatic,1.6,121156,102778,632,Low
8,X3,2016,South America,White,Diesel,Automatic,1.7,48073,116482,8944,High
9,i8,2019,Europe,White,Electric,Manual,3.0,35700,96257,4411,Low
10,3 Series,2012,Middle East,White,Electric,Manual,2.4,101595,117995,500,Low
11,i8,2016,North America,Blue,Hybrid,Manual,1.9,116863,74539,8252,High
12,7 Series,2020,North America,Silver,Diesel,Automatic,3.8,27403,100015,8111,High
13,5 Series,2020,Africa,White,Electric,Manual,2.3,163444,119486,4668,Low
14,X1,2017,Asia,Black,Electric,Automatic,1.6,107918,34078,7291,High
15,M3,2014,North America,Silver,Hybrid,Manual,3.0,154050,94997,7765,High
16,X5,2013,Asia,Blue,Electric,Manual,2.6,110142,114844,5561,Low
17,M5,2017,North America,Red,Diesel,Automatic,2.6,86900,81934,9755,High
18,5 Series,2017,North America,Silver,Electric,Manual,3.1,57843,111326,4880,Low
19,X5,2012,Africa,Blue,Electric,Manual,3.8,142243,82677,7104,High

In [ ]:
df.tail(10)

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
49990,3 Series,2016,North America,Grey,Petrol,Automatic,3.7,199549,73173,9181,High
49991,X5,2019,Asia,White,Diesel,Automatic,3.3,162639,33217,1904,Low
49992,i3,2017,Middle East,Blue,Petrol,Automatic,3.9,79874,115046,9015,High
49993,5 Series,2013,Europe,Grey,Petrol,Manual,4.7,155013,80263,3700,Low
49994,5 Series,2010,North America,Silver,Petrol,Manual,3.6,56672,32990,1575,Low
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [ ]:
df.sample(5)

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
16548,5 Series,2015,Middle East,Blue,Hybrid,Automatic,2.9,4202,46047,6020,Low
5853,X6,2024,South America,Black,Hybrid,Manual,2.1,21052,61551,3066,Low
29644,3 Series,2015,Middle East,Blue,Diesel,Manual,1.7,97656,79885,5876,Low
14132,7 Series,2011,Africa,Silver,Diesel,Automatic,3.2,93089,71476,9092,High
10234,X1,2022,Africa,Black,Hybrid,Manual,3.5,154058,34244,3239,Low

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 50000 non-null  object
 1   Year                  50000 non-null  int64
 2   Region                50000 non-null  object
 3   Color                 50000 non-null  object
 4   Fuel_Type             50000 non-null  object
 5   Transmission          50000 non-null  object
 6   Engine_Size_L         50000 non-null  float64
 7   Mileage_KM            50000 non-null  int64
 8   Price_USD             50000 non-null  int64
 9   Sales_Volume          50000 non-null  int64
 10  Sales_Classification  50000 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 4.2+ MB

In [ ]:
df.describe()

               Year  Engine_Size_L     Mileage_KM      Price_USD  Sales_Volume
count  50000.000000   50000.000000   50000.000000   50000.000000  50000.000000
mean    2017.015700       3.247180  100307.203140   75034.600900   5067.514680
std        4.324459       1.009078   57941.509344   25998.248882   2856.767125
min     2010.000000       1.500000       3.000000   30000.000000    100.000000
25%     2013.000000       2.400000   50178.000000   52434.750000   2588.000000
50%     2017.000000       3.200000  100388.500000   75011.500000   5087.000000
75%     2021.000000       4.100000  150630.250000   97628.250000   7537.250000
max     2024.000000       5.000000  199996.000000  119998.000000   9999.000000

In [ ]:
df.describe(include="all")

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
count,50000,50000.000000,50000,50000,50000,50000,50000.000000,50000.000000,50000.000000,50000.000000,50000
unique,11,NaN,6,6,4,2,NaN,NaN,NaN,NaN,2
top,7 Series,NaN,Asia,Red,Hybrid,Manual,NaN,NaN,NaN,NaN,Low
freq,4666,NaN,8454,8463,12716,25154,NaN,NaN,NaN,NaN,34754
mean,NaN,2017.015700,NaN,NaN,NaN,NaN,3.247180,100307.203140,75034.600900,5067.514680,NaN
std,NaN,4.324459,NaN,NaN,NaN,NaN,1.009078,57941.509344,25998.248882,2856.767125,NaN
min,NaN,2010.000000,NaN,NaN,NaN,NaN,1.500000,3.000000,30000.000000,100.000000,NaN
25%,NaN,2013.000000,NaN,NaN,NaN,NaN,2.400000,50178.000000,52434.750000,2588.000000,NaN
50%,NaN,2017.000000,NaN,NaN,NaN,NaN,3.200000,100388.500000,75011.500000,5087.000000,NaN
75%,NaN,2021.000000,NaN,NaN,NaN,NaN,4.100000,150630.250000,97628.250000,7537.250000,NaN
max,NaN,2024.000000,NaN,NaN,NaN,NaN,5.000000,199996.000000,119998.000000,9999.000000,NaN

In [ ]:
df.isnull().sum()

Model                   0
Year                    0
Region                  0
Color                   0
Fuel_Type               0
Transmission            0
Engine_Size_L           0
Mileage_KM              0
Price_USD               0
Sales_Volume            0
Sales_Classification    0
dtype: int64

In [ ]:
df_cleaned = df.dropna()
df

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [ ]:
df.columns

Index(['Model', 'Year', 'Region', 'Color', 'Fuel_Type', 'Transmission',
       'Engine_Size_L', 'Mileage_KM', 'Price_USD', 'Sales_Volume',
       'Sales_Classification'],
      dtype='object')

In [ ]:
df['Year'].mean()

2017.0157

In [ ]:
df['Sales_Volume'].median()

5087.0

In [ ]:
df['Mileage_KM'].mode()

0    136842
Name: Mileage_KM, dtype: int64

In [ ]:
df[df['Year'].isnull()]

Empty DataFrame
Columns: [Model, Year, Region, Color, Fuel_Type, Transmission, Engine_Size_L, Mileage_KM, Price_USD, Sales_Volume, Sales_Classification]
Index: []

In [ ]:
df.dropna(inplace=True)
df

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low
...,...,...,...,...,...,...,...,...,...,...,...
49995,i3,2014,Asia,Red,Hybrid,Manual,4.6,151030,42932,8182,High
49996,i3,2023,Middle East,Silver,Electric,Manual,4.2,147396,48714,9816,High
49997,5 Series,2010,Middle East,Red,Petrol,Automatic,4.5,174939,46126,8280,High
49998,i3,2020,Asia,White,Electric,Automatic,3.8,3379,58566,9486,High
49999,X1,2020,North America,Blue,Diesel,Manual,3.3,171003,77492,1764,Low

In [ ]:
df[df['Year'].isnull()]

Empty DataFrame
Columns: [Model, Year, Region, Color, Fuel_Type, Transmission, Engine_Size_L, Mileage_KM, Price_USD, Sales_Volume, Sales_Classification]
Index: []

In [ ]:
df.loc[[567,876]]

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
567,X3,2012,Middle East,White,Hybrid,Manual,1.6,123560,58086,1733,Low
876,5 Series,2014,Middle East,Silver,Petrol,Manual,3.3,193006,56363,1878,Low

In [ ]:
df = df.drop('Year', axis=1)

In [ ]:
df = df.drop('Sales_Classification', axis=1)

In [ ]:
df['Price_USD'].mean()
df['Price_USD'].median()
df['Price_USD'].mode()[0]

30948

In [ ]:
def fillnaObjectMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Region', 'Model', 'Transmission']
fillnaObjectMode(columns)

In [ ]:
df['Pice_USD'] = df['Price_USD'].astype('int64')

In [ ]:
df.info

<bound method DataFrame.info of           Model         Region   Color Fuel_Type Transmission  Engine_Size_L  \
0      5 Series           Asia     Red    Petrol       Manual            3.5
1            i8  North America     Red    Hybrid    Automatic            1.6
2      5 Series  North America    Blue    Petrol    Automatic            4.5
3            X3    Middle East    Blue    Petrol    Automatic            1.7
4      7 Series  South America   Black    Diesel       Manual            2.1
...         ...            ...     ...       ...          ...            ...
49995        i3           Asia     Red    Hybrid       Manual            4.6
49996        i3    Middle East  Silver  Electric       Manual            4.2
49997  5 Series    Middle East     Red    Petrol    Automatic            4.5
49998        i3           Asia   White  Electric    Automatic            3.8
49999        X1  North America    Blue    Diesel       Manual            3.3

       Mileage_KM  Price_USD  Sales_Volume  Pice_USD
0          151748      98740          8300     98740
1          121671      79219          3428     79219
2           10991     113265          6994    113265
3           27255      60971          4047     60971
4          122131      49898          3080     49898
...           ...        ...           ...       ...
49995      151030      42932          8182     42932
49996      147396      48714          9816     48714
49997      174939      46126          8280     46126
49998        3379      58566          9486     58566
49999      171003      77492          1764     77492

[50000 rows x 10 columns]>

In [ ]:
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv("BMW sales data (2010-2024) (1).csv")

le = LabelEncoder()
for col in df.columns:
    if df[col].dtype == "object":
        df[col] = le.fit_transform(df[col])

X = df.drop("Sales_Classification", axis=1)
y = df["Sales_Classification"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

1.0